body {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.phone_book_button {
    padding: 15px 0 !important;
}

.phone_book {
    float: right;
}

.phone_book p a {
    list-style-type: none;
    text-decoration: none;
    background-color: white;
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.phone_book button {
    background-color: #009345;
    border: none;
    font-size: 14px;
    padding: 9px 12px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}

.navigation {
    height: 70px;
    background: white;
    width: 100%;
    border-radius: 15px !important;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
}

.brand a {
    color: #4B6985;
    text-decoration: none;
}

.brand a:visited {
    color: #4B6985;
    text-decoration: none;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    background: white;
    color: #4B6985;
    text-decoration: none !important;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 100%;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
    width: 250px !important;
}

.nav-dropdown img {
    margin-right: 15px;
    float: right;
}

.footer {
    background: #2F363F;
    color: white;
  }
  
  .footer h3 {
    font-size: 22px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .footer .fa {
    font-size: 22px;
    justify-content: space-around;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 0;
  }
  
  .footer p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  
  .footer p a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }


  @media only screen and (max-width: 800px) {
    .navigation {
      width: 100%;
    }
  
    .navigation .brand img {
      width: 100px;
    }
  
    .nav-mobile {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      display: block;
    }
  
    .phone_book p a {
      font-size: 12px;
      /* background-color: #311B92;
      color: white; */
    }
  
    .phone_book p button {
      font-size: 12px;
    }
  
    nav {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  
    nav ul {
      margin-top: 70px;
      display: none;
      display: none;
    }
  
    nav ul li {
      float: none;
    }
  
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      font-size: 14px;
    }
  
    nav ul li ul li a {
      padding-left: 30px;
      font-size: 13px;
    }
  
    nav li {
      width: 100% !important;
    }
  
    nav li a {
      text-decoration: none !important;
      width: 100% !important;
      font-size: 16px;
    }
  
    .nav-dropdown {
      position: static;
      width: 100% !important;
    }
  
    #nav-toggle {
      position: absolute;
      left: -18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;
    }
  
    #nav-toggle span {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 25px;
      background: #4B6985;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
  
    #nav-toggle span:before {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 25px;
      background: #4B6985;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
      top: -10px;
    }
  
    #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 25px;
      background: #4B6985;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
      bottom: -10px;
    }
  
    #nav-toggle.active span {
      background-color: transparent;
    }
  
    #nav-toggle.active span:before {
      top: 0;
      transform: rotate(45deg);
    }
  
    #nav-toggle.active span:after {
      top: 0;
      transform: rotate(-45deg);
    }
  

  
    .phone_book p {
      text-align: center;
    }
  

  
    .footer .col-sm-3 {
      margin-top: 10 !important;
    }
  
    .footer h3 {
      font-size: 16px;
    }
  
    .footer p a {
      font-size: 12px;
    }
  
    .footer .col-sm-4 p {
      font-size: 12px !important;
      text-align: center;
    }
  
    .footer .col-sm-8 p {
      text-align: center;
    }
  }
  
  #job-opening .card {
    display: none;
  }
  
  a#loadMore {
    text-decoration: none;
    width: 250px;
    text-align: center;
    border: none;
    color: #009345;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 0.7rem 1rem;
    transition: transform .1s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    cursor: pointer;
  }